body {
    background-color: aqua;
    border: none;
    border-width: 2px;
    
}
img{
    max-width: 40%;
    height: auto; 
    border: ridge; 
    border-color: black; 
}
#guess-btn{
    background-color: rgb(253, 250, 253);

}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(57, 14, 247)
}
#message{
    color: red
}